<%if  @volunteer.is_host? %>
  <h1>Gracias por albergar a una famila</h1>
<%else%>
  <h1>Gracias por buscar un nuevo hogar a una famila</h1>
<%end%>

<%= render 'form', volunteer: @volunteer %>

<%= link_to 'Back', volunteers_path %>
