<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= title%></h5>
    <p class="card-text"><%= description%></p>
    <a href="<%=url_to%>" class="btn btn-primary" ><%= url_text_description%></a>
  </div>
</div>